/blockchain/contracts/artifacts/*_metadata.json
/blockchain/contracts/artifacts/build-info/
/blockchain/tests/artifacts
/blockchain/.deps

/api/dist
/app/build
/app/src/typechain
/app/src/config.json

/api/node_modules
/blockchain/node_modules
/bindings/node_modules
/app/node_modules

/bindings/*.ts

/.idea

/backend/node_modules
/backend/.env
/backend/coverage
/backend/coverage.json
/backend/typechain

#Hardhat files
/backend/cache
/backend/artifacts
